---
layout: compress
---

<html>

  {% include head.html %}

  <body class="no-sidebar">

    {% include header.html %}
    <div class="page-content">
        {{ content }}
    </div>
    {% include footer.html %}

  </body>

</html>
